{% load static %}

  <div class="w-full flex flex-wrap gap-4 justify-center py-4">
    <a href="?categoria=actualidad" 
       class="px-4 py-2 rounded-full border border-indigo-500 text-indigo-500 hover:bg-indigo-500 hover:text-white transition">
      Actualidad
    </a>
    <a href="?categoria=recitales" 
       class="px-4 py-2 rounded-full border border-indigo-500 text-indigo-500 hover:bg-indigo-500 hover:text-white transition">
      Recitales
    </a>
    <a href="?categoria=descubrir" 
       class="px-4 py-2 rounded-full border border-indigo-500 text-indigo-500 hover:bg-indigo-500 hover:text-white transition">
      Descubrir
    </a>
    <a href="?categoria=entrevistas" 
       class="px-4 py-2 rounded-full border border-indigo-500 text-indigo-500 hover:bg-indigo-500 hover:text-white transition">
      Entrevistas
    </a>
  </div>
