{% extends 'layout.html' %}


{% block content %}

<div class="container mt-5">
    {% if user.is_authenticated %}
        <h1 class="mb-4">Crear Nueva Publicación</h1>
    
        <form method="post" action="{% url 'post_create' %}" enctype="multipart/form-data">
        
            {% csrf_token %}
        
            {{ form }}
            
            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"> Guardar Cambios
        </form>

        <button href="{% url 'post_list' %}" class="px-4 py-2 bg-gray-600 text-white rounded">Volver</button>  

    {% else %}
        <p class="text-red-500">Debes <a href="{% url 'login' %}" class="underline">iniciar sesión</a> para crear un post.</p>
{% endif %}
</div>
{% endblock  %}